<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedro.tesisalpha" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.pedro.tesisalpha.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.miappgcm.appfactory.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_Principal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity_Detalle"
            android:label=""
            android:parentActivityName=".Activity_Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name=".MesasActivity"
            android:label="@string/mesas" >
        </activity>
        <activity
            android:name=".Mesas_Activity"
            android:label="@string/mesas" >
        </activity>
        <activity
            android:name=".devolveractivity"
            android:label="@string/devolver" >
        </activity>
        <activity
            android:name=".MesaPedidoActivity"
            android:label="@string/Pedidos" >
        </activity>
        <activity
            android:name=".Pedido_Activity"
            android:label="@string/title_Pedido_Activity" >
        </activity>
        <activity
            android:name=".Menu_Activity"
            android:label="@string/Productos" >
        </activity>
        <activity
            android:name=".Sesion"
            android:label="@string/title_activity_sesion" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >

        </activity>
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.pedro.tesisalpha" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>

</manifest>
